
.headList{
    height: 10vh;
    background: linear-gradient(to right, PowderBlue, white);
    text-align: right;
    padding: 10px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 95vw;
    margin: auto;
    text-align: center;
}

tr, td, th {
    border: 1px solid black;
    min-width: 200px;
}

.button {
    margin-right: 30px;
    width: 150px;
    background: SteelBlue;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px Gainsboro;
    color: white;
    border-radius: 5px;
}

.buttonHide {
    height: 20px;
    width: 20px;
    background: url("../../src/image/shrink.png");
    background-size: cover;
}

.buttonShow {
    height: 20px;
    width: 20px;
    background-image: url("../../src/image/maximize-window-icon.png");
    background-size: cover;
}

.tweetText{
    background-color: AliceBlue;
}

.content {
    display: inline-block;
}